<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.engeto.lekce11.ItemMapper">

    <resultMap id="itemMap" type="com.engeto.lekce11.Item">
        <id property="id" column="id"></id>
        <result property="partNo" column="partNo"></result>
        <result property="serialNo" column="serialNo"></result>
        <result property="name" column="name"></result>
        <result property="description" column="description"></result>
        <result property="price" column="price"></result>
    </resultMap>

    <sql id="itemParams">
        id, part_no, serial_no AS serialNo, name, description, number_in_stock AS numberInStock, price
    </sql>

    <select id="loadItemById" parameterType="java.lang.Integer" resultType="Item" resultMap="itemMap">
        SELECT <include refid="itemParams"/>
        FROM engeto.item WHERE id = #{id}updatePrice
    </select>

    <select id="loadAllAvailableItems" resultMap="itemMap">
        SELECT <include refid="itemParams"/>
        FROM engeto.item WHERE id = #{id}updatePrice
    </select>

    <insert id="saveItem" >
        INSERT INTO engeto.item (part_no,serial_no,name,description,number_in_stock,price)
        VALUES (#{partNo},#{serialNo},#{name},#{description},#{numberInStock},#{price})
    </insert>

    <update id="updatePrice" parameterType="java.lang.Integer">
        "UPDATE engeto.item set price = #{price} WHERE id = #{id}"
    </update>

    <delete id="deleteAllOutOfStockItems">
        DELETE FROM engeto.item WHERE number_in_stock=0
    </delete>

</mapper>